<!DOCTYPE html>
<html>
  <body>
    <!--
    This template loads for the 'tab.friend-detail' state (app.js)
    'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
    The FriendsCtrl pulls data from the Friends service (service.js)
    The Friends service returns an array of friend data
    -->
    <ion-view title="{{friend.name}}">
      <ion-content has-header="true" padding="true">
        <div class="list card">
          <h2 class="item">{{friend.name}} wants to reconnect!</h2>
          <div class="item item-image"><img ng-src="{{friendPicture}}"></div>
          <h3 class="item">Why don't you send them a message?</h3>
        </div>
      </ion-content>
    </ion-view>
  </body>
</html>