
<ion-view title="Dashboard">
  <!--ion-content.padding-->
  <ion-pane ng-controller="CardsCtrl">
    <h5 ng-show="cards.length == 0">Looks like you swiped on all your friends! Invite some more to join the fun!</h5>
    <td-cards>
      <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)" ng-controller="CardCtrl" on-swipe-left="cardSwipedLeft(card.name)" on-swipe-right="cardSwipedRight(card.name)">
        <div>
          <div class="card">
            <h2>{{card.name}}</h2>
            <!--i.ion-person(style='font-size: 240px')-->
            <!--h4 {{card.title}}-->
            <div class="image"><img ng-src="{{card.url}}"></div>
            <div class="card-footer"></div>
            <div ng-style="leftTextOpacity" class="yes-text">Like</div>
            <div ng-style="rightTextOpacity" class="no-text">Nope
            </div>
          </div>
        </div>
      </td-card>
    </td-cards>
  </ion-pane>
</ion-view>