html
  body
    ion-view(title='Matches')
      ion-content
        h3(ng-show='matches === undefined') Getting your matches...
        h3(ng-show='matches.length === 0') No matches yet :( Keep swiping!
        ion-list
          ion-item(class='item-thumbnail-left', ng-repeat='match in matches', type='item-text-wrap', ui-sref='tab.friend-detail({friendId : match.sender_id})' )

            img(ng-src='{{match.url}}')
            h2 {{match.sender_name}}
            p Swiped you on {{match.time | date : format : 'mediumTime'}}
